<% if @currency_sources.empty? %>
Brak danych do wyświetlenia
<% else %>
  <table id="MainTable">
    <thead>
      <tr class="tablehead">
        <th>Nazwa instytucji</th>
        <th>Kupno</th>
        <th>Sprzedaż</th>
        <th>Kurs średni</th>
        <th>Spread</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      <% @currency_sources.each do |source| %>
          <% rate = source.currency_rates.all(:currency_code => CurrencyCode.first(:code => 'EUR')).last %>
          <tr class="TableRow">
            <td><%= source.name %></td>
            <td class="max"><%= rate.buy_rate %></td>
            <td><%= rate.sell_rate %></td>
            <td><%= rate.medium_rate %></td>
            <td><%= (rate.spread.to_f) %></td>
            <td><%= (rate.date.to_s) %></td>
          </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
